<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="TempStorage" />
  <meta property="og:description" content="A simple, fast, and temporary file storage solution." />
  <meta property="og:image" content="https://tempstorage.vercel.app/assets/aaa.jpg" />
  <meta property="og:url" content="https://tempstorage.vercel.app" />
  <meta property="og:type" content="website" />
  <title>Home | TempStorage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>TempStorage</h1>
  <p class="subheader">A simple, fast, and temporary file storage solution.</p>
  <a href="/upload" class="btn upload">Upload File</a>
  <a href="/files" class="btn files">File List</a>
</body>
</html>