<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="ImgBin" />
    <meta
      property="description"
      content="Quick and temporary image hosting."
    />
    <meta
      property="og:description"
      content="Quick and temporary image hosting."
    />
    <meta property="og:site_name" content="ImgBin" />
    <meta
      property="og:image"
      content="https://imgbin.vercel.app/assets/aaa.jpg"
    />
    <meta property="og:url" content="https://imgbin.vercel.app" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ImgBin" />
    <meta
      name="twitter:description"
      content="Quick and temporary image hosting."
    />
    <meta
      name="twitter:image"
      content="https://imgbin.vercel.app/assets/aaa.jpg"
    />  
    <title>ImgBin</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>ImgBin</h1>
    <p class="subheader">
      Quick and temporary image hosting.
    </p>
    <a href="/upload" class="btn upload">Upload</a>
    <a href="/gallery" class="btn gallery">Gallery</a>
  </body>
</html>
